Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.dubsIS2buuf15-SBHTML-deadpool
Description: dubsIS2buuf15-SBHTML-deadpool
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubsIS2buuf15-SBHTML-deadpool
Package: dubsIS2buuf15-SBHTML-deadpool
Section: SBHTML
Dependency: com.matchstic.infostats2, com.matchstic.XenHTML
Version: 1.0
