
	  html{
	position:absolute;
	margin:-50px -50px;
	padding: 0;
	font-family: def;
	color: #fa4d53;
	text-align:center;
	text-transform:uppercase;
    text-shadow:0px 2px 3px rgba(0,0,0,0.15);
    
}


@font-face {

	font-family: def;

	src: url(../Fonts/fs.ttf);

}

@font-face {

	font-family: def1;

	src: url(../Fonts/wl.ttf);

}

@font-face {

	font-family: def2;

	src: url(../Fonts/FuturistB.ttf);

}

#overlay{position:absolute; top:0px; left:0px; width:320px; z-index:-3; }

#ClockWrap{
position:absolute; top:130px; left:-30px; width:320px; height:568px; font-size:0.7em; color:white; font-family:def; -webkit-transform:rotate(12deg); letter-spacing:0.5em;
}

#time{} 
#tod{font-size:0.6em; display:none;}
	
#cStart, #cEnd{position:relative; top:-1px; font-size:8px; color: white; padding:2px;}
	
#year{
      position:absolute; top:82px; left:0; width:320px; height:568px; font-size:1.2em; color:white; display:none;
}	

	
.ArcToday > header h1{
    position: absolute;
    width:320px;
    top:65px;
    left:4px; 
    display:block;
    font-size:3em;
    text-transform:uppercase;
-webkit-transform:rotate(-12deg)
    text-shadow:;
  
}

.ArcToday > header h1 span:nth-child(1){
    position:relative;
    float:right;
    color:white;
    top:67px;
	left:-201px; 
	font-size:2.2em; 
    z-index:-4;
}
	
.ArcToday > header h1 span:nth-child(2){
    position:absolute;
    top:-47px;
    left:156px;
    color:white;
    font-size:2.2em;
    z-index:-4;
    
}
	
.ArcToday > header h1 span:nth-child(3){
    position:relative;
    top:71px;
    left:227px;
    float:left; 
    color:white;
    font-size:2.2em;    
}


#date{
position:absolute; top:202px; left:-50px; width:320px; height:568px; font-size:1em; font-family:def1; -webkit-transform:rotate(12deg); color:white; display:;
}


.ArcMonth > header h1{
    position: absolute;
    width:320px;
    top:141px;
    left:15px;
    display:block;
    font-size:2.1em;
    -webkit-transform:rotate(12deg);
    text-shadow:;
    clip:rect(0px,226px,568px,84px);
}

.ArcMonth > header h1 span:nth-child(1){
  position:relative;
  float:right;
  color:white;
  left:-173px;
}
	
	
.ArcMonth > header h1 span:nth-child(2){

    position:absolute;
    top:2.5px;
    left:150px;
    height:26.5px;
    width:14px;
    color: white;
    font-size:0.7em;
    border-bottom: 1.5px solid white;
}
	
.ArcMonth > header h1 span:nth-child(3){
    position:relative;
    float:left;
    color:white;
    left:167px;
}
	
	
.ArcMonth > header h1 span:nth-child(1):before {
    content: "";
    position: absolute;
    top: 70%;
    width: 60px;
    height: 2.5px;
    background: white;
    box-shadow:0px 0px 3px rgba(255,255,255,0.15);
    display:none;
}

.ArcMonth > header h1 span:nth-child(1):before {
    right: 100%;
    margin-right: 3px;
}


.ArcMonth > header h1 span:nth-child(3):after {
    content: "";
    position: absolute;
    top: 70%;
    width: 60px;
    height: 2.5px;
    background: white;
    box-shadow:0px 0px 3px rgba(255,255,255,0.15);
    display:none;
}

.ArcMonth > header h1 span:nth-child(3):after {
    left: 100%;
    margin-left: 3px;
}

