Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/repo/depictions/?p=com.dubailive.dubsIS2buuf8
Description: dubsIS2buuf8
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubsIS2buuf8
Package: com.dubailive.dubsIS2buuf8
Section: Widgets
Dependency: com.eldwin.iwidgets, com.matchstic.infostats2
Version: 1.0
