Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.essenza163
Description: dubs iW essenza163
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubs iW essenza163
Package: com.dubailive.essenza163
Section: Widgets
Dependency: com.eldwin.iwidgets
Version: 1.0
