Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.dubsIS2e167TouchForecast
Description: dubsIS2e167TouchForecast
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubsIS2e167TouchForecast
Package: com.dubailive.dubsIS2e167TouchForecast
Section: Widgets
Dependency: com.eldwin.iwidgets, com.matchstic.infostats2
Version: 1.0
