Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.buuf5
Description: dubs iW buuf5
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubs iW buuf5
Package: com.dubailive.buuf5
Section: Widgets
Dependency: iWidgets, IS2
Version: 1.0
