Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://github.com/dubailive/dubailive.github.io
Description: dubs iW buuf2
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubs iW buuf2
Package: com.dubailive.dubsiWbuuf2
Section: Widgets
Version: 1.0
