Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.dubsbuuf20A-iW-batman
Description: dubsbuuf20A-iW-batman
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubsbuuf20A-iW-batman
Package: com.dubailive.dubsbuuf20A-iW-batman
Section: Widgets
Dependency: com.eldwin.iwidgets, com.matchstic.infostats2
Version: 1.0
