Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.dubsIS2buuf14-iW
Description: dubsIS2buuf14-iW
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubsIS2buuf14-iW
Package: com.dubailive.dubsIS2buuf14-iW
Section: Widgets
Dependency: com.eldwin.iwidgets, com.matchstic.infostats2
Version: 1.0
