Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.dubsIS2e168TouchForecast
Description: dubsIS2e168TouchForecast
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubsIS2e168TouchForecast
Package: com.dubailive.dubsIS2e168TouchForecast
Section: Widgets
Dependency: com.eldwin.iwidgets, com.matchstic.infostats2
Version: 1.0
