Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.dubsbuuf21-iW-supermario
Description: dubsbuuf21-iW-supermario
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubsbuuf21-iW-supermario
Package: com.dubailive.dubsbuuf21-iW-supermario
Section: Widgets
Dependency: com.eldwin.iwidgets, com.matchstic.infostats2
Version: 1.0
