Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.essenza174
Description: dubs iW essenza174
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubs iW essenza174
Package: com.dubailive.essenza174
Section: Widgets
Dependency: com.eldwin.iwidgets
Version: 1.0
