Architecture: iphoneos-arm
Author:  dubailive 
Depiction: http://www.dubs.live/repo/depictions/?p=com.dubailive.buuf3
Description: dubs iW buuf3
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubs iW buuf3
Package: com.dubailive.buuf3
Section: Widgets
Dependency: com.eldwin.iwidgets, com.matchstic.infostats2,
Version: 1.0
