Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.dubsIS2elixirSBHTML2
Description: dubsIS2elixirSBHTML2
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubsIS2elixirSBHTML2
Package: com.dubailive.dubsIS2elixirSBHTML2
Section: SBHTML
Dependency: com.matchstic.infostats2, com.matchstic.XenHTML
Version: 1.0.1
