Architecture: iphoneos-arm
Author:  dubailive 
Depiction: https://dubailive.github.io/depictions/?p=com.dubailive.dubsIS2buuf10-LS
Description: dubsIS2buuf10-LS
Maintainer:  dubailive  <dubailive1@gmail.com>
Name: dubsIS2buuf10-LS
Package: com.dubailive.dubsIS2buuf10-LS
Section: Widgets
Dependency: com.eldwin.iwidgets, com.matchstic.infostats2
Version: 1.0.1
